<h1>
    <a href="/" title="Go to the login page"><img src="img/red-hat-logo.png" alt="Red Hat Logo"></a>
</h1>

<div class="content">
    <h2> Log in to <strong>LiveOak</strong>
    </h2>

    <div class="background-area">

        <div class="form-area clearfix">
            <div class="section app-form">
                <h3>Application login area</h3>
                <div id="form">
                    <form action="#" method="post">
                        <div>
                            <label for="username">Username</label><input id="username" name="username" ng-value="username" type="text" autofocus />
                        </div>

                        <div>
                            <label for="password">Password</label><input id="password" name="password" type="password" ng-value="password" />
                        </div>

                        <input class="btn-primary" name="login" type="submit" value="Log In"/>
                        <input class="btn-secondary" name="cancel" type="submit" value="Cancel"/>
                    </form>
                </div>
            </div>

            <div class="section info-area">
                <h3>Info area</h3>
                <div id="info"></div>
            </div>
        </div>
    </div>

</div>